/* 
 * Add your own CSS code for the WYSIWYG editor 
 */


.ordered-list {
    counter-reset: listCounter;
}

.ordered-list li {
    counter-increment: listCounter;
    list-style: none;
    position: relative;
}

.ordered-list li::before {
    color: #42a5f5;
    content: counter(listCounter, decimal-leading-zero) ".";
    font-weight: 600;
    left: -2rem;
    position: absolute;
}

.post__note {
    border-radius: 2px;
    border: 1px solid #e3e3e4;
    float: right;
    font-size: 0.88889rem;
    margin: 0.53333rem 0 1.06667rem 1.6rem;
    max-width: 18.2rem;
    padding: 1.6rem;
    position: relative;
    z-index: 1;
}

.post__note > :nth-child(1) {
    margin: 0;
}

.post__note--left {
    float: left;
    margin: 0.53333rem 1.6rem 1.06667rem 0;
}

.msg {
    border-left: 3px solid transparent;
    padding: 1.06667rem 2.13333rem;
}

.msg--highlight {
    background-color: #fdfaf1;
    border-color: #e2ac4f;
}

.msg--info {
    background: rgba(45, 97, 201, 0.03);
    border-color: #2d61c9;
}

.msg--success {
    background: #f7fbf6;
    border-color: #5ab44b;
}

.msg--warning {
    background: #fff3f3;
    border-color: #c06367;
    color: #a94442;
}

.btn,
[type=button],
[type=submit],
button {
    background: #42a5f5;
    border: 1px solid #42a5f5;
    border-radius: 30px;
    -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.1), 0 1px 1px rgba(0, 0, 0, 0.08);
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.1), 0 1px 1px rgba(0, 0, 0, 0.08);
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font: 400 0.88889rem -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 0.69333rem 1.33333rem;
    vertical-align: middle;
    text-align: center;
    -webkit-transition: all 0.24s ease;
    -o-transition: all 0.24s ease;
    transition: all 0.24s ease;
    overflow: hidden;
    will-change: transform;
}

.btn:hover,
:hover[type=button],
:hover[type=submit],
button:hover {
    -webkit-box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
    color: #ffffff;
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
    text-decoration: none !important;
}

.btn--white {
    background: #ffffff !important;
    border-color: #ffffff !important;
    color: #6a7081 !important;
}

.btn--white > svg {
    fill: #6a7081;
}

.btn--yellow {
    background: #FFC439 !important;
    border-color: #FFC439 !important;
    color: #ffffff !important;
}

.btn--yellow > svg {
    fill: #ffffff;
}

.btn--green {
    background: #5cb85c !important;
    border-color: #5cb85c !important;
    color: #ffffff !important;
}

.btn--green > svg {
    fill: #ffffff;
}

.btn--outline {
    background: none !important;
    border: 1px solid #e3e3e4 !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #6a7081;
}

.btn--outline:hover {
    border-color: #9ea2ad !important;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #343a41;
}